* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #cfd9df, #e2ebf0); */
  background: linear-gradient(135deg, black,  white);

}

.card {
  width: 360px;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.icon-box {
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  font-size: 22px;
}

h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

.input-box {
  position: relative;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.input-box input:focus {
  border-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.left-icon {
  left: 12px;
}

.right-icon {
  right: 12px;
  cursor: pointer;
}

.forgot {
  text-align: right;
  font-size: 13px;
  margin-bottom: 20px;
}

.forgot a {
  text-decoration: none;
  color: #555;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  /* background: linear-gradient(to right, #1f1f1f, #3a3a3a); */
  /* background: linear-gradient(135deg, #2bbbad, #1e8c84); */
  background: rgb(19, 181, 19);
  color: white;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1);
  background:  rgb(27, 164, 27);

}

.loader {
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.divider {
  font-size: 13px;
  color: #888;
  margin: 20px 0 15px;
}

.social-login {
  display: flex;
  justify-content: space-between;
}

.social-login button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.social-login button:hover {
  background: #f2f2f2;

}